html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-weight: 400;
    letter-spacing: .4px;
    font-family: Helvetica,Arial, cursive;
    font-size: 16px;
    line-height: 1.5; 
}

.customized-bg{
    background-image: url("../images/background.jpg");
}

img{
    width: 25%
}

/* Navigation bar section. */
.nav-button {
    float: left;
    font-size: 15px;
    display:inline; 
}

.nav-button a {
    display: block; 
    color: black;
    text-align: center; 
    padding: 14px 50px;
    text-decoration: none;
}

.nav-button a:hover {
    color: #9ca8b8;
}

.navigation > ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#f9fafa;
}

/* Main canvas section. */
.page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.author-name {
    color: #656565;
}

.occupation {
    color: #7c8491;
}
  
/* Style the header */
.header {
    background-color: #f9fafa;
    padding: 15px;
    text-align: center;
    font-size: 15px;
}

/* Container for flexboxes */
.container-row {
    display: -webkit-flex;
    /* display: flex; */
}

/* Create equal columns that sits next to each other */
.container-column{
    padding: 10px;
   background-color:#d7e1e5; 
   display: flex;
   align-items: left;
   flex-direction: column;
   justify-content: center;
   
}

/* Style the footer - haven't implement in this hw*/
.footer-top {
    display:flex;
    background-color: #f9fafa;
    padding: 10px;
    text-align: center;
    min-width: 10px;
    justify-content: space-between;
    align-self:center;
}

.title{
    color:lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-font{
    font-family: 'Cinzel', serif;
}

.container-contact-column{
    padding: 10px;
   background-color:#ead0d1; 
   display: flex;
   align-items: left;
   flex-direction: column;
   justify-content: center;
}

i{
    color: #965454;
    font-size: 110%;
}

i:hover{
    color:#a27e7e;
}

i:link{
    color: #965454;
}

i:visited{
    color: #965454;
}